{% extends './base.html' %}



{% block content %}

    <!-- <p> {{data}}</p> -->
    <p id="data1" style="display: none;"> {{ dataval }} </p>
    
    <!-- var x={{ label}}
    var y={{ dataval}} -->

    <div id="myDiv">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>
    <script>
        var yaxisVal = JSON.parse(jQuery('#data1').html());
        var data = [{
            x: ['10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00'],
            y: yaxisVal,
            type: 'bar'
        }];

        Plotly.newPlot('myDiv', data, {}, { showSendToCloud: true });
    </script>

{% endblock %}